<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Crafting Data Platforms</title>
  <link rel="stylesheet" href="assets/main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400|Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
</head>

<body class="index">

  <div class="main-container">
    <div class="head-container">

      <div class="head-inner">

        <h1>Crafting<br/>Data Platforms</h1>

        <h3>Jeff Uren</h3>

      </div>

    </div>

    <section class="book">
      <div class="book-right">
        <h2>Print</h2>

        <p>NNN pages of well-set typography and high resolution illustrations. Each page has been pored over and over.</p>

        <div class="btn-row">
          <button>Amazon.com</button>
          <button>.ca</button>
          <button>.uk</button>
          <button>.au</button>
          <button>.de</button>
          <button>.fr</button>
          <button>.es</button>
          <button>.it</button>
          <button>.jp</button>
        </div>
        <div class="btn-row">
          <button>Barnes and Noble</button>
          <button>Book Depository</button>
        </div>
        <div class="btn-row">
          <button>Download Sample (PDF)</button>
        </div>
      </div>
    </section>

    <section class="book align-left">
      <div class="book-right">
        <h2>Ebook</h2>

        <p>NNN pages of well-set typography and high resolution illustrations. Each page has been pored over and over.</p>

        <div class="btn-row">
          <button>Kindle Amazon.com</button>
          <button>.ca</button>
          <button>.uk</button>
          <button>.au</button>
          <button>.de</button>
          <button>.in</button>
        </div>
        <div class="btn-row">
          <button>.fr</button>
          <button>.es</button>
          <button>.it</button>
          <button>.jp</button>
          <button>.br</button>
          <button>.mx</button>
          <button>Apple Books</button>
        </div>
        <div class="btn-row">
          <button>Play Books <small>Google</small></button>
          <button>Nook <small>B&N</small></button>
          <button>EPUB <small>Smashwords</small></button>
        </div>
      </div>
    </section>


    <section class="menu">
      <h2>Articles</h2>

      <div class="three-col">
        <div class="col">
          <h3>2023</h3>

          <a href="posts/2022-12-01-git-parable.html">git parable</a>
          <a href="posts/2022-12-31-learn-to-use-better-tools.html">Don't learn to code, learn to use better tools</a>
          <a href="posts/2022-12-07-ddd-and-cqrs.html">DDD and CQRS</a>
          <a href="posts/xxxx-xx-xx-what-is-a-crdt.html">What is a CRDT?</a>
          <a href="posts/xxxx-xx-xx-understanding-lifetimes.html">Understanding Lifetimes (Rust)</a>
          <a href="posts/xxxx-xx-xx-data-quality.html">Data Quality and Trusted Data</a>
          <a href="posts/2023-01-31-wellcome-data-tech-round-up.html">2022 Wellcome Data Tech Round-Up</a>
          <a href="posts/xxxx-xx-xx-understanding-kerberos.html">Understanding Kerberos</a>
          <a href="posts/xxxx-xx-xx-be-mercurial-not-agile.html">Be Mercurial, Not Agile</a>
          <a href="posts/xxxx-xx-xx-homemade-soda-stream.html">Homemade SodaStream</a>

          <a href="#">What is a Data Platform?</a>
          <a href="#">Adventures in Data Modelling</a>
          <a href="#">It's metadata all the way down</a>
        </div>
        <div class="col">
          <h3>2020</h3>

          <a href="posts/2020-03-16-working-from-home.html">Working from home</a>
        </div>
        <div class="col">&nbsp;</div>
      </div>
    </section>

    <section class="menu">
      <h2>Projects (Public)</h2>

      <div class="three-col">
        <div class="col">
          <h3>Research</h3>

          <a href="research/ide-for-authors/ide-for-authors.html">An IDE for Authors</a>

        </div>
        <div class="col">
          <h3>In Development</h3>

          <a href="#">Data Dispatch</a>

        </div>
        <div class="col">
          <h3>Here there be Dragons</h3>

          <a href="https://gitlab.com/ewars" target="_blank">WHO EWARs</a>
        </div>
      </div>
    </section>

    <section class="menu">
      <h2>Research</h2>

      <a href="research/ide-for-authors/ide-for-authors.html">An IDE for Authors</a>
      <a href="research/better-spreadsheets/better-spreadsheets.html">A Better Spreadsheet</a>
    </section>
    <section class="menu">
      <h2>Ephemera</h2>

      <div class="three-col">
        <div class="col">
          <h3>Reading</h3>

          <a href="pages/permanent-bookshelf.html">Permanent Bookshelf</a>
          <a href="pages/2023-reading.html">2023 Reading</a>
          <a href="pages/2022-reading.html">2022 Reading</a>

        </div>
        <div class="col">
          <h3>Other Bits</h3>

          <a href="pages/papers.html">Papers :eye: :heart:</a>
        </div>
        <div class="col">
          <h3>Templates</h3>

          <a href="pages/incident-form.adoc">Incident Form</a>
          <a href="pages/blameless-rca.adoc">Blameless RCA</a>
          <a href="pages/architecture-docs.adoc">Architecture Docs</a>
        </div>

      </div>
    </section>



    <section class="author-block">
      <div class="author">
        <img src="/assets/images/jeff.jpeg"/>
      </div>
      <div class="author">
        <h3>About Jeff Uren</h3>

        <p>I started out on the Commodore 64, I didn't know how to do a lot on it, but I started on it. Throughout the years i've moved from various different spaces in software and infrastructure. I currently work as the Lead Software Engineer (Data) for the Wellcome Trust building data pipelines, platforms and systems to help Wellcome make sense of all their data.</p>

        <p>Before working for the Wellcome Trust, I spent several years developing, managing, and maintaining disease surveillance data collection and reporting systems in remote contexts like Central Africa, the Pacific Islands, and Syria.</p>

        <p>If you want more, you can email me at jduren at this site's domain (though i'm a bit flakey about responding), or read some of my posts above.</p>

      </div>
    </section>
  </div>
</body>

</html>
