<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>JDU</title>
  <link rel="stylesheet" href="assets/main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400|Source+Sans+Pro:300,400,600' rel='stylesheet'
    type='text/css'>
</head>

<body>
  <nav class="wide">

    <a class="brand" href="/">JDU</a>

    <div class="contents">

      <h3><a href="#top">Other Stuff</a></h3>
      <ul>
        <li class="toc-0"><a href="/knowledge.html">Knowledge</a></li>

        <li class="divider"></li>

        <li class="end-part">
          <a href="https://github.com/jdu">GitHub</a>
        </li>

        <li class="end-part">
          <a href="#end-note"><small>note</small>End Note</a>
        </li>
      </ul>

    </div>


  </nav>

  <div class="page">

    <div class="home-cols">
      <div class="home-col">

        <h2>2024 Articles</h2>

        <ol>
          <li><a href="posts/2024-ice.html">Ice</a></li>
        </ol>

        <h2>2023 Articles</h2>

        <ol>
          <li><a href="posts/2023-02-26-fear-the-rebase.html">Fear the Rebase</a></li>
          <li><a href="posts/2022-12-01-git-parable.html">git parable</a></li>
          <li><a href="posts/2023-auth-hell.html">Auth Hell</a></li>

          <li><a href="posts/2022-12-31-learn-to-use-better-tools.html">Don't learn to code, learn to use
              better
              tools</a></li>
          <li><a href="posts/2022-12-07-cqrs.html">CQRS</a></li>
          <li><a href="posts/xxxx-xx-xx-what-is-a-crdt.html">What is a CRDT?</a></li>
          <li><a href="posts/xxxx-xx-xx-understanding-lifetimes.html">Understanding Lifetimes (Rust)</a></li>
          <li><a href="posts/xxxx-xx-xx-data-quality.html">Data Quality and Trusted Data</a></li>

        </ol>

        <h2>2020</h2>

        <ol>
          <li><a href="posts/2020-03-16-working-from-home.html">Working from home</a></li>
        </ol>

      </div>

      <div class="home-col">
        <h2>Research Projects</h2>

        <ol>
          <li><a href="research/ide-for-authors/ide-for-authors.html">An IDE for Authors</a></li>
          <li><a href="research/better-spreadsheets/better-spreadsheets.html">A Better Spreadsheet</a></li>
        </ol>


        <h2>Reading</h2>

        <ol>
          <li><a href="pages/permanent-bookshelf.html">Permanent Bookshelf</a></li>
          <li><a href="pages/technical-books.html">Technical Books</a></li>
          <li><a href="pages/2024-reading.html">2024 Reading</a></li>
          <li><a href="pages/2023-reading.html">2023 Reading</a></li>
          <li><a href="pages/2022-reading.html">2022 Reading</a></li>
        </ol>

        <h2>Other Bits</h2>

        <ol>
          <li><a href="pages/diary-of-a-mad-dev.html">Diary of a <strike>Madman</strike> Developer</a></li>
          <li><a href="pages/papers.html">Papers 👁 ♥</a></li>
        </ol>

      </div>
    </div>


    <section class="author-block auth-block-main">
      <div class="author">
        <img src="/assets/images/jeff.jpeg" />
      </div>
      <div class="author">
        <h3>About Jeff Uren</h3>

        <p>I started out on the Commodore 64, I didn't know how to do a lot on it, but I started on it.
          Throughout
          the years i've moved from various different spaces in software and infrastructure. I currently work
          as
          the Lead Software Engineer (Data) for the Wellcome Trust building data pipelines, platforms and
          systems
          to help Wellcome make sense of all their data.</p>

        <p>Before working for the Wellcome Trust, I spent several years developing, managing, and maintaining
          disease surveillance data collection and reporting systems in remote contexts like Central Africa,
          the
          Pacific Islands, and Syria.</p>

        <p>If you want more, you can email me at jduren at this site's domain (though i'm a bit flakey about
          responding), or read some of my posts above.</p>

      </div>
    </section>
  </div>

  <footer>
    Handcrafted by Jeff Uren — <a href="https://github.com/jdu/jdu.github.io/blob/master/LICENSE" target="_blank">&copy;
      2024</a>
  </footer>
  </div>


</body>

</html>
